<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.colorado.gots.guardiansofthespectrum">

    <!-- needed to get access to wifi scan results -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- needed to initiate wifi scans -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- needed to access location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- needed to access LTE data -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- needed to send data over a socket to a server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScanActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SendActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MyInfoActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"/>

        <service
            android:name=".ScanService"
            android:description="@string/serviceDesc"
            android:exported="false" />

    </application>

</manifest>